<div class="container my-2 px-4 py-2">
    <header class="d-flex justify-content-center py-3">
     <h2> Faça seu Login!</h2>
    </header>

    <%= form_with(model: @user, local: true) do |form| %>
        <% if @user.errors.any? %>
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <ul>
                        
                        <% @user.errors.full_messages.each do |error| %>
                            <li> <%= error %> </li>
                        <% end %>
                    </ul>
                </div>
        <% end %>

        <div class="mb-3">
        <%= form.label :email, class:"form-label", id:"exampleFormControl"%>
            <%= form.text_field :email, class:"form-control", for:"exampleFormControlInput1", placeholder:'ex: teste@teste.com' %>
        </div>

        <div class="mb-3">
        <%= form.label :password, class:"form-label", id:"exampleFormControl"%>
        <%= form.text_field :password, class:"form-control", for:"exampleFormControlInput1", placeholder:'Digite sua Senha' %>
        </div>

        <%= form.submit "Login", class:"btn btn-success"%>
    <% end %>
</div>