<div class="container my-1 px-3">
    <header class="d-flex justify-content-center py-2">
        <h2> Cadastre-se </h2>
    </header>

    <%= form_with(model: @user, local: true) do |form| %>
        <% if @user.errors.any? %>
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <ul>
                        
                        <% @user.errors.full_messages.each do |error| %>
                            <li> <%= error %> </li>
                        <% end %>
                    </ul>
                </div>
        <% end %>

        <div class="mb-3">
        <%= form.label :email, class:"form-label", id:"exampleFormControl"%>
            <%= form.text_field :email, class:"form-control", for:"exampleFormControlInput1", placeholder:'ex: teste@teste.com' %>
        </div>

        <div class="mb-3">
        <%= form.label :name, class:"form-label", id:"exampleFormControl"%>
            <%= form.text_field :name, class:"form-control", for:"exampleFormControlInput1", placeholder:'Digite seu nome' %>
        </div>

        <div class="mb-3">
        <%= form.label :password, class:"form-label", id:"exampleFormControl"%>
        <%= form.text_field :password, class:"form-control", for:"exampleFormControlInput1", placeholder:'Digite sua Senha' %>
        </div>

        <div class="mb-3">
        <%= form.label :password_confirmation, class:"form-label", id:"exampleFormControl"%>
        <%= form.text_field :password_confirmation, class:"form-control", for:"exampleFormControlInput1", placeholder:'Confirme sua senha' %>
        </div>

        <%= form.submit "new User", class:"btn btn-success my-2"%>
    <% end %>
</div>