<!doctype html>
<html lang="pt-BR" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Portifolio</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
   <%= stylesheet_link_tag  'application' %>
   <%= stylesheet_link_tag  'session' %>

  </head>
  <body class="d-flex flex-column h-100">
    
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <%=  link_to 'Portifolio', root_path, class:'navbar-brand'%>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <%= yield %>
  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
   
  
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag 'session' %>

  <% if notice %>
        <%= javascript_tag do %>
                $.bootstrapGrowl('<%= notice %>', {
                    type: 'success', // (null, 'info', 'danger', 'success')
                    align: 'right', // ('left', 'right', or 'center')
                    allow_dismiss: true, // If true then will display a cross to close the popup.
                    stackup_spacing: 10 // spacing between consecutively stacked growls.
                });
        <% end %>
   <% end %>

  </body>
</html>
