<!doctype html>
<html lang="pt-BR" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Portifolio</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
   <%= stylesheet_link_tag  'application' %>
   <%= stylesheet_link_tag  'session' %>

  </head>
  <body class="d-flex flex-column h-100">
    
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
       <%=  link_to 'Portifolio', root_path, class:'navbar-brand'%>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
         
          <% unless user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Entrar', entrar_path, class:'nav-link active',aria_current:"page" %>
            </li>
          <% end %>

        </ul>
        
        <% if user_signed_in? %>
          <div class="dropdown">
            <a class="btn text-light btn-dark dropdown-toggle me-3 pe-3" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.name %>
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              
              <li><a class="dropdown-item" href="#">Sobre</a></li>
              <li><a class="dropdown-item" href="#">Contato</a></li>
              <li>
                <%= link_to 'Sair', sair_path, method: :delete, class:"dropdown-item"%>
              </li>
            </ul>
          </div>
        <% end %>

      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <%= yield %>
  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">Portalegre-RN <%= Date.today %></span>
  </div>
</footer>
   
  
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag 'session' %>

  <% if notice %>
        <%= javascript_tag do %>
                $.bootstrapGrowl('<%= notice %>', {
                    type: 'success', // (null, 'info', 'danger', 'success')
                    align: 'right', // ('left', 'right', or 'center')
                    allow_dismiss: true, // If true then will display a cross to close the popup.
                    stackup_spacing: 10 // spacing between consecutively stacked growls.
                });
        <% end %>
   <% end %>

  </body>
</html>
